<%- include('../partials/teacher-sidenav'); -%>


<div class="main-content" id="panel">
    <div class="container-fluid py-3 bg-primary top-padding" style="border-bottom:0.0625rem solid #e9ecef33 !important;" >
        <div class="row align-items-center">
            <div class="col col-lg-auto text-center text-sm-left">
                <h5 style="font-family: 'LakeShore', sans-serif" class="h2 text-white d-inline-block mb-0 custom-heading">Exam center</h5>
            </div>
           
        </div>
    </div>
    <div>    
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Questionn to <%=tests%> </h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            
                            </div>
                            <div class="w-100 row" style="padding-left: 15px;">
                            <div class="col-md-8 ">

                                
                    <form action="/test/addquestion/<%=tests%>" method="post">
                                <div class="form-group">
                                    <label>  Add question </label>
                                    <input class="form-control" type="text" name="questionText" placeholder="questionText" required />
                                </div>
                               
                                <div >
                                    
                                    <div class="form-row"> 
                                        <input type="text" class="form-control col-md-8 mr-1" name="a" id="" placeholder="Enter option A" required>
                                        <input type="text" class="form-control col-md-8 mr-1" name="b" id="" placeholder="Enter  option B" required>
                                        <input type="text" class="form-control col-md-8 mr-1" name="c" id="" placeholder="Enter  option C " required>
                                        <input type="text" class="form-control col-md-8 mr-1" name="d" id="" placeholder="Enter  option D"  required>
                                        
                                      
                                    </div>
                                    
                                    <div class="form-row"> 
                                        <caption> Select Correct answer- </caption>
                                        <select name="ans"  value class="form-control" required multiple>
                                            <option value="" selected disabled hidden>Select Answer</option>
                                            <option value="">Null</option>
                                            <option value="A">OPTION A</option>
                                            <option value="B">OPTION B</option>
                                            <option value="C">OPTION C</option>
                                            <option value="D">OPTION D</option>
                                            
                                          </select>
                                      
                                    </div>
                                    
                                        
                                     

                                </div>
                               
                      
                            </div>
                            <!-- <div class="col-md-4">
                               
                                <select class="custom-select" v-model="newQuestion.qType">
                                    <option value="single" selected>Single Correct</option>
                                   
                                </select>
                                
                            </div> -->
                          <!--   <div class="modal-body">
                              <p>This is a large modal.</p>
                            </div>
                            -->
                        </div>
                            <div class="modal-footer">
                                <div class="w-100 d-flex justify-content-center">
                                    <button class="btn btn-success mb-3" >Add</button>
                                </div>
                    </form>     
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          
                        </div>
                      </div>

                    
                </div>

                <div class="w-100 d-flex justify-content-end mb-2">
                   
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Add Question</button>
                   
                </div>
                <style>
                    .fresh-table{
                        margin-top: 45px;
                        box-shadow: -15px 27px 69px rgba(0,0,0,.30);
                        margin-bottom: 50px;
                    }
                    .fresh-table.full-screen-table{
                        margin-top: 0;
                    }
                    .fresh-table .fixed-table-container {
                        border-width: initial !important;
                        border-style: none !important;
                        border-color: initial !important;
                        border-image: initial !important;
                    }
                    .bootstrap-table .fixed-table-container .fixed-table-body {
                        overflow-x: auto;
                        overflow-y: auto;
                        height: 100%;
                    }
                    td {
                        white-space: normal !important; 
                        word-wrap: break-word;  
                      }

                </style>
                <div class="container"> 
                <div class="fresh-table full-color-orange">
                    <!--
                      Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                      Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                    <table class="container w-75 mx-auto border p-0" style="color: white;">
                    -->
                      <div class="toolbar">
                        <button id="alertBtn" class="btn btn-success"> QUESTIONS-</button>
                      </div>
            
                <table class="table">
                       
                <% if(questions!=null) { %>
                  
                    <div class="fixed-table-container"> 
                      
                    <thead class="thead-light" style="" >

                        <th style="font-size:15px;font-weight: bold;word-wrap: break-word;min-width: 160px;max-width: 160px;">QUESTIONS </th>
                        <th style="font-size:15px;font-weight: bold;">A</th>
                        <th style="font-size:15px;font-weight: bold;">B</th>
                        <th style="font-size:15px;font-weight: bold;">C </th>
                        <th style="font-size:15px;font-weight: bold;">D </th>
                        <th class="table-danger" style="font-size:15px;font-weight: bold;">Answer</th>
                        
                    </thead>
                      
                       
                        
                        <% for(let i=0; i < questions[0].questions.length; i++) { %> 
                            
                            <tr  style="color: black;">
                                <td class="table-primary" style="word-wrap: break-word;min-width: 160px;max-width: 160px;" ><%= questions[0].questions[i].questionText%></td>
                                <td class="table-primary"><%= questions[0].questions[i].options[0] %></td>
                                <td class="table-primary"> <%= questions[0].questions[i].options[1]%>  </td>
                                <td class="table-primary"><%= questions[0].questions[i].options[2] %></td>
                                <td class="table-primary"> <%= questions[0].questions[i].options[3] %></td>
                                <td class="table-danger"> <%= questions[0].questions[i].correctOptions[0] %> <%= questions[0].questions[i].correctOptions[1] %> <%= questions[0].questions[i].correctOptions[2]%> <%= questions[0].questions[i].correctOptions[3] %></td>
                            
                            </tr>
                           
                        <% } %>                        
                        
                    </div>
                            </tbody>
                </table>
                    </div>
                      </div>
                      <% } %>
</div>