<%- include('../partials/user-sidenav'); -%>

<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div class="container-fluid py-3 bg-primary top-padding" style="border-bottom:0.0625rem solid #e9ecef33 !important;" >
        <div class="row align-items-center">
            <div class="col col-lg-auto text-center text-sm-left">
                <h5 style="font-family: 'LakeShore', sans-serif" class="h2 text-white d-inline-block mb-0 custom-heading">Exam center</h5>
            </div>
            <div class="mx-auto mb-0 text-center"> 
                <% if(errorMsg && errorMsg.length > 0){ %>
                    <div class="alert alert-danger fade show " role="alert">
                    <span class="alert-text mr-2">
                        <%= errorMsg %>
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

                <% if(successMsg && successMsg.length > 0){ %>
                <div class="alert alert-success fade show " role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text mr-2"><strong>Success!</strong>
                        <%= successMsg %>
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <br>
                <% } %>
            </div>
            <!-- 
            <div class="col-right ml-auto mr-3  d-sm-block">
                <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle" >
                        <img alt="" src="../../Python/uploads/1234.png" style="width:max-content">
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block">
                        <h4 class="mb-0  " style="color: white;font-family:'Lobster', cursive;">Welcome
                            <b><%=user.name%></b>
                        </h4>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <div class="main-content" id="panel">
    
        <div>             
                     
             
                          
             <br>
             <br>
            <div class="container w-75 mx-auto  p-0" > 
                
                <% if(proctor!=null) { %>


                    <table class="table">
                    <tr> 
                        <div class="fixed-table-container"> 
                          
                            <thead class="thead-light" style="" >
                                <th style="font-size:15px;font-weight: bold;">Images </th>
                              
                                
                              
                            </thead>
                              
                        
                    </tr>
                   
                    
                    <% for(let i=0; i < proctor.tests.length; i++) { %>  
                        <% if(proctor.tests[i].test == testid){ %>
                            <%proctor.tests[i].imageUrl.forEach(function(url){%>
                    <tr class="table-primary" style="color: black;">
                       
                       
                        <td>  
                        <img src="<%= url%>" alt="IMG-PRODUCT" height="150" width="300";>
                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                        href="<%=url%>">
                        </td>
                       
                 
                    </tr>
                    <%});%> 
                    <%}%>
                    <%}%>
                      
                </div> 
                
                    </table>
                    <% } %>
            </div>
        </div>
     
    <!-- Header -->
    <div class="col-md-10">
    
       <br>
    </div>

 

</div>

<script>

    
</script>

<%- include('../partials/footer'); -%>