<%- include('../partials/teacher-sidenav'); -%>

<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div class="container-fluid py-3 bg-primary top-padding" style="border-bottom:0.0625rem solid #e9ecef33 !important;" >
        <div class="row align-items-center">
            <div class="col col-lg-auto text-center text-sm-left">
                <h5 style="font-family: 'LakeShore', sans-serif" class="h2 text-white d-inline-block mb-0 custom-heading">Exam center</h5>
            </div>
            
        </div>
    </div>
    <div class="main-content" id="panel">
    
        <div>             
                     
             
                          
             <br>
             <br>
            <div class="container w-75 mx-auto  p-0" > 
                
                <% if(tests!=null) { %>
                  
                    <table class="table" id="tblData">
                        <h6 style="color: white;">
                            Test Name- <%=tests.testName%> <br>
                          Code- <%=tests.testcode%> <br>
                          User id- <%= user %> <br>
                          
                      </h6>
                    <tr> 
                        <div class="fixed-table-container"> 
                          
                            <thead class="thead-light" style="" >
                                    
                                <th style="font-size:15px;font-weight: bold;"> TIME </th>
                                <th style="font-size:15px;font-weight: bold;"> looked away </th>
                                <th style="font-size:15px;font-weight: bold;">More than 1 person found</th>
                                <th style="font-size:15px;font-weight: bold;">no person</th>
                                <th style="font-size:15px;font-weight: bold;">mobile found </th>
                                <th style="font-size:15px;font-weight: bold;">Completed on </th>
                              
                            </thead>
                              
                        
                    </tr>
                    <!-- if(tests.logs[j].logs.logs!=null) { -->
                    <%tests.logs.forEach(function (logs) {%>
                            <% if((logs.userId._id == user ) && (logs.logs!= undefined)){ %>
                              
                              
                          <% for(i=0;i<logs.logs.length;i++) {%>
                              
                    <tr class="table-primary" style="color: black;">
                       
                        <td style="justify-content: center;;white-space: -o-pre-wrap; 
                        word-wrap: break-word;
                        white-space: pre-wrap; 
                        white-space: -moz-pre-wrap; 
                        white-space: -pre-wrap;"> <%= logs.testStartedAt %> </td>
                        <td><%= logs.logs[i][0]%></td>
                      
                        <td><%= logs.logs[i][1] %></td>    
                        <td><a href=""> <%= logs.logs[i][2]%> </a> </td>
                        <td><%= logs.logs[i][3] %></td>
                        <td style="justify-content: center;;white-space: -o-pre-wrap; 
                        word-wrap: break-word;
                        white-space: pre-wrap; 
                        white-space: -moz-pre-wrap; 
                        white-space: -pre-wrap;"> <%= logs.testCompletedAt %> </td>
                       
                    
                    </tr>
                    <% }}  else{ %>
                <% }}); %>
                    </div> 
                   
                    </table>
                   
            </div>
            <% } %>
        </div>
     
        <button onclick="exportTableToExcel('tblData')">DOWNLOAD SHEET</button>
    <!-- Header -->
    <div class="col-md-10">
    
       <br>
    </div>

 

</div>

<script>

    function exportTableToExcel(tableID){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
       
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            
            //triggering the function
            downloadLink.click();
        }
    }

</script>
