<%- include('../partials/user-sidenav'); -%>



<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div class="container-fluid py-3 bg-primary top-padding" style="border-bottom:0.0625rem solid #e9ecef33 !important;" >
        <div class="row align-items-center">
            <div class="col col-lg-auto text-center text-sm-left">
                <h5 style="font-family: 'LakeShore', sans-serif" class="h2 text-white d-inline-block mb-0 custom-heading">Exam center</h5>
            </div>

            <div class="m-3 w-100 text-danger" style="text-align:center;position:relative;">
                <hr>
                <h5 class="text-secondary">All warnings will be displayed here</h5>
                <div id="output">
                    <h2 style="color: white;" 
                    id="text_from_script">
                </h2>
                 </div>
            </div>
           
           
            


            <div class="mx-auto mb-0 text-center"> 
                <div class="container">
                    <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                      <%= error %>
                    </div>
                    <% } %> <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                      <%= success %>
                    </div>
                    <% } %> <% if(warning && warning.length > 0){ %>
                    <div class="alert alert-warning" role="alert">
                      <%= warning %>
                    </div>
                    <% } %> <% if(info && info.length > 0){ %>
                    <div class="alert alert-info" role="alert">
                      <%= info %>
                    </div>
                    <% } %>
                  </div>
                <% if(errorMsg && errorMsg.length > 0){ %>
                    <div class="alert alert-danger fade show " role="alert">
                    <span class="alert-text mr-2">
                        <%= errorMsg %>
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

                <% if(successMsg && successMsg.length > 0){ %>
                <div class="alert alert-success fade show " role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text mr-2"><strong>Success!</strong>
                        <%= successMsg %>
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <br>
                <% } %>
            </div>
          
        </div>
    </div>
    
    <!-- Header -->
    <div class="col-md-10" style="color: white;">
        <br>
        <% if(questions!=null) { %>

            <% for(let i=0; i < questions[0].questions.length; i++) { %> 
        <div  style="width: 100%;color: black;  background-color: #f1f1f1;" class="card">
        <form action="/test/submit-exam/<%=tests%>" method="post"> 
           
            
            </div>
            <% } %>      
            <button class="btn btn-success mb-3" >Submit</button>
            <button  id="demo"  type="submit">End </button>
            
        
        </form>
        <button id="dem" onclick="endTest()"> Start</button>
        
    </div>
    <div class="col-md-4">
   <video id="video"  class="float" autoplay></video>

    
    </div>
    <% } %>      

 

</div>



<style>
    
    .float{
        position:fixed;
        width:150px;
        height:120px;
        bottom:40px;
        right:40px;
        color:#FFF;
        border-radius:10px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
</style>


    
<%- include('../partials/footer'); -%>
